.u-section-1 .u-sheet-1 {
  min-height: 1242px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -884px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  animation-duration: 1000ms;
  font-style: italic;
  font-size: 3rem;
  margin: 899px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  margin: 0 -22px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1993px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 925px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-3 {
    animation-duration: 1000ms;
    margin-top: -26px;
  }
}.u-section-2 {
  background-image: linear-gradient(#743636, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 10px;
}