.u-section-1 {
  background-image: linear-gradient(#743636, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 839px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 17px 0 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }
}