.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px auto 0 16px;
}

.u-section-1 .u-text-1 {
  margin: 30px 28px 60px 13px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 71px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}